*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100dvh;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginForm {
  width: 300px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 30px 25px;
}

#loginForm .input-group{margin: 15px 0;}

#loginForm input {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

#loginForm button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #343434;
}

.signup-link a {
  color: rgb(8, 133, 167);
  text-decoration: none;
  font-weight: bold;
}
.message-container {
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  min-width: 200px;
  min-height: 40px;
  line-height: 40px;
  position: absolute;
  left: 1%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s ease, visibility 0s 0.5;
  -webkit-transition: opacity 1.5s ease, visibility 0s 0.5;
  -moz-transition: opacity 1.5s ease, visibility 0s 0.5;
  -ms-transition: opacity 1.5s ease, visibility 0s 0.5;
  -o-transition: opacity 1.5s ease, visibility 0s 0.5;
}

#message {
  font-weight: bold;
}

