html{
    font-size: 10px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

#box{
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
    background-color: red;
}