*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    overflow: hidden;
}

body {
  background-color: #fafafa;
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  height:100dvh;
  position: relative;
}

.context-menu {
  width: 240px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  user-select: none;
  border: 1px solid #ddd;
  position: absolute;
}



.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #ebebeb;
  color: #02c9ff;
}

.menu-item svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-right: 12px;
  fill: #555;
  transition: fill 0.3s ease;
}

.menu-item:hover svg {
  fill: #02c9ff;
  transition: fill 0.3s ease;
}

.menu-item:last-child:hover svg {
  fill: #ff026b;
  transition: fill 0.3s ease;
}

.menu-item span {
  font-size: 14px;
  font-weight: 600;
  color: #202124;
}
.menu-item:hover span {
  color: #02c9ff;
  transition: color 0.3s ease;
}
.menu-item:last-child:hover span {
  color: #ff026b;
  transition: color 0.3s ease;
}
.divider {
  height: 1px;
  background: #e0e0e0;
  margin: 4px 0;
}
